.zui-header {
  width: 100%;
  height: 100px;
  .zui-logo{
    margin: 20px 0 0 20px;
  }
  .zui-button{
    float: right;
    line-height: 40px;
    background: #35A3BA;
    margin: 20px 20px 0 0;
    min-width: 150px;
    border-radius: 20px;
  }
}
