.home-page {
  .banner {
    min-height: 270px;
    text-align: center;
    padding: 80px 20px;
    background: url('../../assets/img/zhichou-banner.jpg') center no-repeat;
    h1 {
      color: #fff;
      font-size: 42px;
      margin: 0;
    }
    h3 {
      color: #fff;
      font-size: 24px;
      margin-top: 28px;
    }
  }
  .nav {
    padding-left: 0;
    list-style: none;
    max-width: 1065px;
    margin: 20px auto 0 auto;
    a {
      float: left;
      margin: 17px;
      width: 320px;
      min-height: 200px;
      color: #32ADC6;
      text-align: center;
      display: block;
      padding: 40px 0 0 0;
      border: 1px solid #32ADC6;
      position: relative;
      &:hover{
        text-decoration: none;
      }
      &.zhichou:hover{
        color: #fff;
        background: #35A3BA;
      }
      &.hr:hover{
        color: #fff;
        background: #6AC2B5;
      }
      &.plus:hover{
        color: #fff;
        background: #000;
      }
      .watermark {
        top: 0;
        left: 0;
        opacity: .1;
        font-size: 70px;
        line-height: 70px;
        position: absolute;
        &.blue{
          color: #35A3BA;
        }
        &.green{
          color: #00d6b2;
        }
      }
      .zui-logo {
        display: block;
        margin: 0 auto;
      }
      h3 {
        font-size: 24px;
        margin-top: 15px;
      }
      p {
        font-size: 18px;
        margin-top: 14px;
      }
      &.hr {
        color: #6AC2B5;
        border-bolor: #6AC2B5;
      }
      &.plus {
        color: #35A3BA;
        border-color: #35A3BA;
      }
    }
  }
  .join-zhichou {
    color: #32ADC6;
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: block;
    margin: 30px 0 165px 0;
  }
}
