.hr-page {
  .banner {
    min-height: 270px;
    text-align: center;
    padding: 100px 65px 100px 0;
    background: url('../../assets/img/hr-banner.jpg') center no-repeat;
    h3 {
      color: #fff;
      font-size: 30px;
      line-height: 46px;
      margin-top: 28px;
      text-align: right;
    }
  }
  .service {
    padding: 72px 0;
    text-align: center;
    h1 {
      color: #6AC2B5;
      font-size: 52px;
      line-height: 70px;
    }
    h3 {
      color: #000;
      font-size: 40px;
      margin-top: 15px;
    }
    h4 {
      font-size: 29px;
      line-height: 32px;
      font-weight: normal;
      margin-top: 40px;
    }
  }
  .features {
    background: #DEF0EF;
    padding: 50px 0 50px 315px;
    li {
      padding: 10px;
      position: relative;
      padding-left: 100px;
      margin-top: 20px;
      img {
        width: 60px;
        top: 15px;
        left: 0;
        position: absolute;
      }
      h4 {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        font-size: 25px;
        font-weight: normal;
      }
    }
  }
  .customer-case {
    overflow-x: scroll;
    padding-bottom: 60px;
    h2 {
      color: #F7931E;
      text-align: center;
      font-size: 40px;
      margin: 90px 0 15px 0;
    }
    p {
      color: #808080;
      font-size: 20px;
      text-align: center;
      margin-bottom: 35px;
    }
    .customer-case-carousel {
      .item {
        float: left;
        max-width: 540px;
        min-height: 320px;
        margin: 10px;
        background: #DEF0EF;
        border: 1px dotted #DEF0EF;
        position: relative;
        &:after {
          clear: both;
          content: '';
          display: table;
        }
        .labels{
          position: absolute;
          top: 65px;
          left: 0;
          .zui-label {
            display: block;
            margin: 10px 30px 0 20px
          }
        }
        h3 {
          font-size: 30px;
          padding: 10px 0;
          text-align: center;
          margin: 0 50px 10px 50px;
          border-bottom: 3px solid #6AC2B5;
        }
        p {
          color: #000;
          font-size: 25px;
          text-align: left;
          padding: 0 30px 0 150px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .apply-hr {
    color: #fff;
    text-align: center;
    background: #6AC2B5;
    padding: 49px 0 50px 0;
    h2 {
      font-size: 39px;
      margin: 0 0 20px 0;
    }
    h4 {
      font-size: 29px;
      font-weight: normal;
    }
  }
  .apply-hr-form {
    padding: 40px 0 80px 0;
    .zui-form {
      max-width: 710px;
      margin: auto;
    }
  }
}
