.zui-header{
  .zui-button{
    background: #32adc6;
  }
}
.plus-page {
  .mobile-banner{
    display: none;
  }
  .banner {
    color: #fff;
    min-height: 270px;
    padding: 100px 0 50px 210px;
    background: url('../img/plus-banner.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    img{
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
      margin: 0 auto;
      position: absolute;
    }
    h5 {
      font-size: 18px;
      line-height: 24px;
      max-width: 450px;
    }
    h1 {
      font-size: 44px;
      margin: 20px 0 0 0;
    }
    h4 {
      font-size: 29px;
      margin: 20px 0 0 0;
    }
  }
  .features {
    text-align: center;
    background: #D9EEF2;
    padding: 50px 0;
    h3 {
      font-size: 34px;
    }
    h1 {
      font-size: 44px;
      margin: 40px 0 0 0;
      color: #F7931E;
    }
    ul {
      max-width: 785px;
      margin: 80px auto;
      li {
        float: left;
        color: #fff;
        margin: 0 45px;
        font-size: 20px;
        position: relative;
        background: url('../img/flag.svg') center no-repeat;
        width: 170px;
        background-size: cover;
        height: 200px;
        padding-top: 25px;
        .big {
          font-size: 40px;
          margin-top: 25px;
        }
        .black {
          color: #000;
          left: 0;
          right: 0;
          bottom: -50px;
          position: absolute;
        }
      }
    }
    .ribbon {
      color: #fff;
      font-size: 25px;
      padding-top: 45px;
      margin-top: 50px;
      width: 850px;
      background-size: cover;
      margin: 0 auto;
      height: 110px;
      background: url('../img/ribbon.svg') center no-repeat;
    }
  }
  .more-features {
    padding: 0 0 75px 0;
    ul {
      margin: 0 auto;
      max-width: 545px;
      li {
        margin-top: 55px;
        font-size: 25px;
        padding-left: 105px;
        position: relative;
        img {
          width: 80px;
          top: 30px;
          left: 0;
          position: absolute;
        }
        b {
          color: #35A3BA;
          font-size: 79px;
          margin-right: 20px;
        }
      }
    }
  }
  .package {
    padding: 48px 0;
    background: #D9EEF2;
    h1 {
      color: #F7931E;
      font-size: 46px;
      text-align: center;
      letter-spacing: 15px;
    }
    ul {
      margin: 0 auto;
      max-width: 440px;
      li {
        margin-top: 25px;
        font-size: 25px;
        &:before {
          content: '●';
          color: #35A3BA;
          font-size: 35px;
          margin-right: 20px;
        }
      }
    }
    p {
      width: 100%;
      margin: 35px 0;
      font-size: 25px;
      text-align: center;
    }
  }
  .apply-coupon {
    color: #fff;
    text-align: center;
    background: #32ADC6;
    padding: 49px 0 50px 0;
    h2 {
      font-size: 39px;
      margin: 0 0 20px 0;
      .yellow {
        color: #FFE300;
      }
    }
    h4 {
      font-size: 29px;
      font-weight: normal;
    }
  }
  .apply-coupon-form {
    padding: 90px 0 80px 0;
    .zui-form {
      max-width: 710px;
      margin: auto;
    }
  }
}

@media (max-width: 420px) {
  .plus-page{
    .banner{
      display: none;
    }
    .mobile-banner{
      display: block;
      min-height: 300px;
      background: #D9EEF2;
      img{
        width: 100%;
      }
    }
    .features{
      padding: 25px 0;
      h3{
        font-size: 16px;
      }
      h1{
        font-size: 24px;
        margin: 20px 0 0 0;
      }
      ul{
        max-width: 335px;
        margin: 40px auto;
        li{
          width: 85px;
          height: 90px;
          font-size: 16px;
          padding-top: 15px;
          margin: 0 13px;
          .big{
            font-size: 20px;
            margin-top: 0;
          }
          .black{
            bottom: -25px;
          }
        }
      }
      .ribbon{
        width: 340px;
        font-size: 12px;
        height: 55px;
        padding-top: 23px;
      }
    }
    .more-features{
      padding: 0 0 34px 0;
      ul{
        max-width: 260px;
        li{
          margin-top: 25px;
          font-size: 13px;
          padding-left: 55px;
          img{
            width: 40px;
            top: 15px;
          }
          b{
            font-size: 38px;
            margin-right: 5px;
          }
        }
      }
    }
    .package{
      padding: 24px 0;
      h1{
        font-size: 23px;
        letter-spacing: 5px;
      }
      ul{
        max-width: 290px;
        li{
          margin-top: 12px;
          font-size: 14px;
          &:before{
            font-size: 14px;
            margin-right: 10px;
          }
        }
      }
      p{
        margin: 17px 0;
        font-size: 14px;
      }
    }
    .apply-coupon{
      padding: 25px 0;
      h2{
        font-size: 18px;
        margin: 0 0 10px 0;
      }
      h4{
        font-size: 14px;
      }
    }
    .apply-coupon-form{
      padding: 0;
    }
  }
}
